---
import Layout from '../layouts/BlogPost.astro';

const now = new Date('2026-1-17')
---

<Layout
	title="Что это?"
	description="Куда я попал?"
	pubDate={now}
>
	<p>
		Меня зовут Саша (иногда Засонник). Это мой блог. Сюда я публикую небольшие заметки, которые могут быть интересны/полезны другим людям.
	</p>

	<p>
		Мне интересны:
		<ul>
			<li>Разработка ПО/Программирование</li>
			<li>Фантастика</li>
			<li>Катание на досках (серфинг/скейтбординг)</li>
			<li>Кофе</li>
		</ul>
	</p>

	<p>
		Если хочешь оставить комментарий -  сделай  <a href="https://github.com/zasonnik/zasonnik.github.io/issues/new">issue этой страницы на github</a>. Ну или напиши мне в telegram.
	</p>

	 <p>Блог сделан на Astro (<a href="https://astro.build/">astro.build/</a>) путем переработки шаблона стандартного блога под мои нужды. Исходники хостятся <a href="https://github.com/zasonnik/blog">здесь</a></p>
</Layout>
